#container{
display: flex;  
flex-wrap: wrap;  
}

#container > div{
    background-color: cornflowerblue;
    font-size: 20px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

#grid{
    background-color: darkturquoise;
    display: grid;
    padding: 20px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-columns: 200px 200px auto;
}

.grid-item{
    background-color: gainsboro;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}